<!DOCTYPE html>
<html>
<head>
    <title>YouTube Analysis History</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container py-5">
<div class="mx-auto" style="max-width:900px;">

    <div class="text-center mb-4">
        <h2>Saved YouTube Analysis Result</h2>
    </div>

    <!-- SUMMARY -->
    <div class="card p-4 shadow-sm mb-4 text-center">
        <h5>Total Comments: <strong>{{ total }}</strong></h5>

        <div class="row mt-3">
            <div class="col-md-4">
                <div class="card bg-success text-white p-3">
                    <h6>Positive</h6>
                    <h3>{{ positive }}</h3>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-danger text-white p-3">
                    <h6>Negative</h6>
                    <h3>{{ negative }}</h3>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-warning text-dark p-3">
                    <h6>Neutral</h6>
                    <h3>{{ neutral }}</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- WORD CLOUD -->
    <div class="card p-4 shadow-sm text-center mb-4">
        <h4>Word Cloud</h4>
        {% if wordcloud_image %}
            <img src="{{ url_for('static', filename=wordcloud_image) }}"
                 class="img-fluid">
        {% endif %}
    </div>
<!--to show pie chart in history-->
    <div class="card p-4 shadow-sm text-center mb-4">
    <h4>Sentiment Distribution</h4>
    <div style="max-width:400px; margin:auto;">
        <canvas id="historyChart"></canvas>
    </div>
</div>
<!-- SAVE PDF BUTTON -->
    <div class="text-center">
        <form method="POST" action="{{ url_for('download_pdf') }}">
            <input type="hidden" name="total" value="{{ total }}">
            <input type="hidden" name="positive" value="{{ positive }}">
            <input type="hidden" name="negative" value="{{ negative }}">
            <input type="hidden" name="neutral" value="{{ neutral }}">
            <input type="hidden" name="wordcloud_image" value="{{ wordcloud_image }}">

            <button type="submit" class="btn btn-success">
                Download PDF Report
            </button>
        </form>
    </div>
    <a href="{{ url_for('history') }}" class="btn btn-secondary mt-3">
    Back to History
</a>

</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const total = {{ total }};
    const positive = {{ positive }};
    const negative = {{ negative }};
    const neutral = {{ neutral }};

    const ctx = document.getElementById('historyChart').getContext('2d');

    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Positive', 'Negative', 'Neutral'],
            datasets: [{
                data: [positive, negative, neutral],
                backgroundColor: ['#198754','#dc3545','#ffc107']
            }]
        },
        options: {
            animation: false,
            plugins: {
                legend: { position: 'bottom' }
            }
        }
    });
</script>

</body>
</html>